* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */


body {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: sans-serif;
}

/* Section 1 */
.showcase {
    height: 800px;
    background-color: rgb(38, 110, 243);
    position: relative;
}

.showcase-grid {
    height: 100%;
}

@media screen and (min-width: 1024px) {
    .showcase-grid {
        display: flex;
    }
    
}

.top {
    position: absolute;
    top: 2%;
    left: 4%;
    display: flex;
}

@media screen and (min-width: 1024px) {
    .top {
    
        top: 2%;
        left: 1%;
        
    }
}

.top h4 {
    font-size: 18px;
}

.left {
    padding-top: 10px;
}

@media screen and (min-width: 1024px) {
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        flex-basis: 45%;
    }
}


.right {
    background-image: url(./Images/model.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: rgb(38, 110, 243);
    background-repeat: no-repeat;
    height: 50%;
}

@media screen and (min-width: 1024px) {
    .right {
        height: 100%;
        flex: 1;
    }
}

.small {
    font-size: 6px;
}

.main {
    text-align: center;
    padding: 70px 20px 40px;
}

@media screen and (min-width: 1024px) {
    .main {
        padding:0 60px;
        text-align: unset;
    }
}

.small-heading {
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.main h1 {
    margin-top: 24px;
    font-size: 59px;
    margin-bottom: 20px;
}

.sub-text {
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 1.5em;
}

.btn {
    font-weight: bold;
    background-color: white;
    color: black;
    margin-top: 20px;
    padding: 20px 42px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(39, 38, 38);
}

.btn:hover {
    transform: scale(0.98);
    background-color: black;
    color: white;
}

/* Section 2 */
.about-us {
    position: relative;
}

@media screen and (min-width: 1024px){
    .about-us {
        height: 800px;
    }
    
}

.left2 {
    background-color: black;
    padding: 5px 10px;
}


@media screen and (min-width: 1024px){
.left2 {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

}

.small-heading2 {
    margin-top: 20px;
    font-size: 15px;
    color: rgb(84, 84, 216);
    text-transform: uppercase;
}

.main2 {
    text-align: center;
}
@media screen and (min-width: 1024px){
    .main2 {
        text-align: unset;
        width: 80%;
    }
    
}

.main2 h1 {
    margin-top: 24px;
    font-size: 59px;
    margin-bottom: 30px;
}

.about-us .lead-text, .about-us .sub-text {
    width: 95%;
    font-size: 16px;
    line-height: 1.5em;
       
}

.about-us h1{
    color: rgb(84, 84, 216);
}

.about-us .sub-text{
    margin-top: 30px;
}

@media screen and (min-width: 1024px)
 {
    .position {
        width: 650px;
        height: 500px;
        position: absolute;
        right: 80px;
        bottom: 150px;
        background-image: url(./Images/computer.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}



/* Section 3 */
.our-services {
    background: white;
    color: black;
    min-height: 800px;
    display: flex;
}

.left3 {
    height: 400px;
    padding-top: 10px;
}

@media screen and (min-width: 1024px)
 {
    .left3 {
        height: 400px;
        width: 70%;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 30px;
    }
}


.main3 {
    text-align: center;
}

.main3 h1 {
    font-size: 59px;
}

@media screen and (min-width: 1024px)
 {
    .main3 {
        text-align: unset;
    }
}

.main3 h1 {
    margin-bottom: 60px;
}

.small-heading3 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: rgb(84, 84, 216);
}

@media screen and (min-width: 1024px)
 {
    .small-heading3 {
        margin-top: 70px;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: rgb(84, 84, 216);
    }
    
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex2 {
    margin-top: 40px;
}

@media screen and (min-width: 1024px)
 {
    .flex {
        display: flex;
        flex-direction: row;
        width: 600px;
    }
    
    .flex2 {
        margin-top: 120px;
    }
}

.wrapper {
    margin-top: 30px;
}

@media screen and (min-width: 1024px)
 {
    .wrapper {
        margin-top: unset;
    }
    
}

.wrapper p {
    margin-top: 10px;
    color: black;
    line-height: 1.7em;
}

@media screen and (min-width: 1024px)
 {
    .wrapper2 {
        margin-left: 40px;
    }

    .wrapper h3{
        margin-left: 70px;
    }
    
}

@media screen and (min-width: 1024px)
 {
    .right3 {
        width: 50%;
        height: 800px;
        background-color: rgb(38, 110, 243);
        position: relative;
    }

    .position2 {
        width: 450px;
        height: 500px;
        position: absolute;
        right: 150px;
        bottom: 150px;
        background-image: url(./Images/Old-man.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
}

/* Section 4 */
.portfolio {
    background-color: white;
    width: 100%;
    min-height: 600px;
    color: black;
    text-align: center;
}

.small-heading4 {
    text-transform: uppercase;
    color: rgb(84, 84, 216);
    margin-top: 30px;
    text-align: center;
}

.main-heading {
    margin-top: 30px;
    font-size: 59px;
    margin-bottom: 80px;
    color: black;
    text-align: center;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns:  1fr;
    place-items: center;
}      

@media screen and (min-width: 1024px){  
.grid {
    padding: 0 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    justify-content: space-around;
}
}
.grid-image1,
.grid-image2,
.grid-image3,
.grid-image4 {
    height: 350px;
    width: 300px;
}

@media screen and (min-width: 1024px){  
    .grid-image:hover {
        transform: translateY(-15px);
    }
}


/* Section 5 */
.portfolio-the-staff {
    background-color: white;
    width: 100%;
    min-height: 650px;
    color: black;
    text-align: center;
}

.card {
    width: 290px;
    height: 350px;
}

@media screen and (min-width: 1024px) {
    
.card:hover {
    transform: translateY(-15px);
}
}

.card-body {
    background-color: rgb(90, 90, 189);
    width: 290px;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.grid-image5 {
    height: 250px;
    width: 290px;
    display: block;
}

.text {
    display: flex;
    flex-direction: column;
}

.text h5 {
    margin-right: 35px;
}

a {
    margin-left: 10px;
    color: white;
}

a:hover {
    color: red;
}

/* Section 6 */
.contact {
    height: 730px;
    width: 100%;
    color: black;
    display: flex;
}

.left4 {
    background-color: white;
    height: 730px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
.left4 {
    width: 60%;
    justify-content: unset;
}
}

.main4 {
   text-align: center;
   padding: 0 40px;
}

@media screen and (min-width: 1024px){
.main4 {
    margin-left: 100px;
    padding: unset;
}
}

.main4 h1 {
    margin-bottom: 95px;
    font-size: 30px;
}

@media screen and (min-width: 1024px){
.main4 h1 {
    font-size: 59px;
}
}

.small-heading5 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: rgb(84, 84, 216);
    line-break: loose;
}

.flex3 {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 2px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgb(201, 199, 199);
    outline: none;
}

@media screen and (min-width: 1024px){
input,
textarea {
    width: unset;
}
}

textarea {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 2px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgb(201, 199, 199);
    outline: none;
}

.button {
    margin: auto;
    width: 150px;
    font-weight: bold;
    background-color: rgb(38, 110, 243);
    color: white;
    margin-top: 20px;
    padding: 20px 42px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(39, 38, 38);
}

.button:hover {
    transform: scale(0.98);;
}

@media screen and (min-width: 1024px){

.right4 {
    background-color: rgb(38, 110, 243);
    width: 43%;
    height: 730px;
}

}

html::-webkit-scrollbar {
    width: 1vw;
    height: 1vw;
}

html::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100vw;
    border: 1px solid rgb(247, 243, 243);
}

html::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 100vw;
    border: 2px solid white;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgb(82, 7, 82);
}

html::-webkit-scrollbar-thumb:focus {
    background-color: rgb(82, 7, 82);
}



