* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

/* Section 2 */
.showcase {
    height: 800px;
    width: 100%;
    display: flex;
    background-color: rgb(27, 101, 126);
}

.top {
    margin-left: 20px;
    display: flex;
}

.top h4 {
    font-size: 18px;
}

.left {
    width: 43%;
    height: 800px;
    background-color: rgb(38, 110, 243);
    padding-top: 10px;
}

.right {
    background-image: url(Images/model.jpg);
    background-size: cover;
    background-position: center top;
    background-blend-mode: rgb(38, 110, 243);
    background-repeat: no-repeat;
    width: 60%;
    height: 800px;
}

.small {
    font-size: 6px;
}

.main {
    margin-left: 80px;
    width: 480px;
}

.main h1 {
    margin-top: 24px;
    font-size: 59px;
    margin-bottom: 20px;
}

.style {
    width: 80%;
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 1.5em;
}

.medium {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 200px;
    text-transform: uppercase;
}
.btn {
    font-weight: 500;
    background-color: white;
    color: black;
    margin-top: 20px;
    padding: 25px 52px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(39, 38, 38);
}

.btn:hover {
    transform: scale(0.98);
    background-color: black;
    color: white;
}

/* Section 2 */
.about-us {
    position: relative;
}

.main2 {
    margin-left: 105px;
    width: 450px;
}

.main2 h1 {
    margin-top: 24px;
    font-size: 59px;
    margin-bottom: 30px;
}


.left2 {
    width: 50%;
    height: 800px;
    background-color: black;
    padding-top: 10px;
}

.medium2 {
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 180px;
    color: rgb(84, 84, 216);
    text-transform: uppercase;
}

.style2 {
    width: 95%;
    line-height: 1.7em;
}

.margin {
    margin-top: 30px;
}

.color {
    color: rgb(84, 84, 216);
}

.position {
    width: 700px;
    height: 500px;
    position: absolute;
    right: 100px;
    bottom: 150px;
}

/* Section 3 */
.our-services {
    background: yellow;
    color: black;
    min-height: 600px;
    width: 100%;
    display: flex;
}

.left3 {
    width: 60%;
    height: 800px;
    background-color: white;
    padding-top: 10px;
}

.main3 {
    margin-left: 105px;
    width: 480px;
}

.main3 h1 {
    font-size: 59px;
    margin-bottom: 140px;
}

.wrapper h3{
    margin-left: 70px;
}


.wrapper p {
    margin-top: 10px;
    color: black;
    line-height: 1.7em;
}

.wrapper2 {
    margin-left: 40px;
}

.medium3 {
    margin-top: 70px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: rgb(84, 84, 216);
}

.flex {
    display: flex;
    width: 600px;
}

.flex2 {
    margin-top: 120px;
}

.right3 {
    width: 40%;
    height: 800px;
    background-color: rgb(38, 110, 243);
    position: relative;
}

.position2 {
    width: 400px;
    height: 500px;
    position: absolute;
    right: 200px;
    bottom: 150px;
}


/* Section 4 */
.portfolio {
    background-color: white;
    width: 100%;
    min-height: 600px;
    color: black;
    text-align: center;
}

.small-heading {
    text-transform: uppercase;
    color: rgb(84, 84, 216);
    margin-top: 30px;
    text-align: center;
}

.main-heading {
    margin-top: 30px;
    font-size: 59px;
    margin-bottom: 105px;
    color: black;
    text-align: center;
}


.grid-image {
    height: 350px;
    width: 300px;
    display: block;
}

.grid-image:hover {
    transform: translateY(-15px);
}    


.grid{
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    place-items: center;
}

/* Section 5 */
.portfolio-the-staff {
    background-color: white;
    width: 100%;
    min-height: 650px;
    color: black;
    text-align: center;
}

.card {
    width: 290px;
    height: 350px;
    background-color: red;
}

.card:hover {
    transform: translateY(-15px);
}

.card-body {
    background-color: rgb(90, 90, 189);
    width: 290px;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.grid-image2 {
    height: 250px;
    width: 290px;
    display: block;
}

.text {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.text h5 {
    margin-right: 35px;
}

a {
    margin-left: 10px;
    color: white;
}

a:hover {
    color: red;
}

@media screen and (max-width: 765px){  
.grid{
    padding: 0 1rem;
    grid-template-columns:  1fr;
}
    
}